<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>คลินิกกำลังใจ</title>

    <!-- Custom fonts for this template-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery (จำเป็นสำหรับบางฟังก์ชันใน Bootstrap 4) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>


    <!-- Custom styles for this template-->
    <link href="../../style/users/user_main.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/users/profile.css">
    <link rel="stylesheet" href="../../style/staff/">
    <script src="../../js/api/staff_api.js"></script>
    <script src="../../js/staff.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center">
                <div class="sidebar-brand-text mx-3">คลินิกกำลังใจ</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <!-- <li class="nav-item">
                <a class="nav-link" href="index.html">
                    <i class="fa-regular fa-user"></i>
                    <span>ข้อมูลส่วนตัว</span></a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" href="../admin/admin_main.html">
                    <i class="fa-solid fa-chart-line"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="../staff/manage_user.html">
                    <i class="fa fa-folder"></i>
                    <span>จัดการข้อมูลผู้ใช้</span></a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" href="../admin/manage_doctor.html">
                    <i class="fa-solid fa-stethoscope"></i>
                    <span>จัดการข้อมูลหมอ</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../admin/patientslist.html">
                    <i class="fa-solid fa-user-plus"></i>
                    <span>ผู้ป่วยที่อยู่ในการดูแล</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../admin/manage_employee.html">
                    <i class="fa fa-folder"></i>
                    <span>จัดการเจ้าหน้าที่</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../admin/manage_man.html">
                    <i class="fa fa-folder"></i>
                    <span>จัดการผู้บริหาร</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../admin/webstting.html">
                    <i class="fa-solid fa-bars"></i>
                    <span>ตั้งค่าเว็บไซต์</span></a>
            </li>


            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    <span>ออกจากระบบ</span></a>
            </li>
            <!-- Sidebar Toggler (Sidebar) -->
            <!-- <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div> -->

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <h1 class="header-main">ข้อมูลส่วนตัว</h1>
                    <!-- <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>

                            </div>
                        </div>
                    </form> -->

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
           

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">

                            <!-- <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="adm_fname mr-2 d-none d-lg-inline text-gray-600 small"></span>
                                <span class="adm_lname mr-2 d-none d-lg-inline text-gray-600 small"></span>
                            </a> -->

                            <!-- Dropdown - User Information -->
                            <!-- <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">


                                <a class="dropdown-item" href="profile_admin.html">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    ข้อมูลส่วนตัว
                                </a>
                                <a class="dropdown-item" href="changepass.html">
                                    <i class="fas fa-lock fa-sm fa-fw mr-2 text-gray-400"></i>
                                    เปลี่ยนรหัสผ่าน
                                </a>

                                <div class="dropdown-divider"></div>
                        

                            </div> -->
                        </li>

                        <!-- Make sure you load Bootstrap JS properly -->
                        <script
                            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>


                    </ul>


                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <form class="profile" id="profileAdmin">
                        <label for="first-name">ชื่อจริง</label>
                        <input type="text" id="first-name" name="first-name" required
                        pattern="^[a-zA-Zก-ฮะ-์]+$"
                        title="กรุณากรอกตัวอักษรเท่านั้น"
                        oninput="this.value = this.value.replace(/[^a-zA-Zก-ฮะ-์]/g, '')">
                    
                        <label for="last-name">นามสกุล</label>
                        <input type="text" id="last-name" name="last-name"required
                        pattern="^[a-zA-Zก-ฮะ-์]+$"
                        title="กรุณากรอกตัวอักษรเท่านั้น"
                        oninput="this.value = this.value.replace(/[^a-zA-Zก-ฮะ-์]/g, '')">
                    
                        <button type="submit" class="submit-btn">บันทึก</button>
                    </form>


                    <!-- Display fname here -->

                </div>

                <!-- /.container-fluid -->

            </div>

            <!-- End of Main Content -->




        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">เลือก "ออกจากระบบ" ด้านล่างหากคุณพร้อมที่จะออกจากเว็บไซต์ปัจจุบันของคุณ</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">ยกเลิก</button>
                    <a class="btn btn-primary" href="../index.html" onclick="Logout()">ออกจากระบบ</a>
                </div>
            </div>
        </div>
    </div>

    <!-- <script>
        const logout = async () => {
            try {
                await axios.post('http://localhost:8000/api/logout', {}, { withCredentials: true });
                alert('You have been logged out successfully.');
                window.location.href = '../view';
            } catch (error) {
                console.error('Logout failed:', error);
                alert('Logout failed. Please try again.');
            }
        };
    </script> -->

    <script src="../../js/jquery.min.js"></script>
    <!-- <script src="../../js/bootstrap.bundle.min.js"></script> -->


</body>

</html>