<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>คลินิกกำลังใจ</title>

  <!-- Custom fonts for this template-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

  <!-- jQuery (จำเป็นสำหรับบางฟังก์ชันใน Bootstrap 4) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

  <!-- Bootstrap JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>


  <!-- Custom styles for this template-->
  <link href="../../style/users/user_main.css" rel="stylesheet">
  <link rel="stylesheet" href="../../style/staff/patientslist.css">
  <script src="../../js/api/staff_api.js"></script>
  <script src="../../js/api/dashboard_api.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.js"></script>
  <script src="../../js/staff.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>


</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" >
        <div class="sidebar-brand-text mx-3">คลินิกกำลังใจ</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <!-- <li class="nav-item">
                <a class="nav-link" href="index.html">
                    <i class="fa-regular fa-user"></i>
                    <span>ข้อมูลส่วนตัว</span></a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" href="../staff/dashboard.html">
                    <i class="fa-solid fa-chart-line"></i>
                    <span>Dashboard</span>
                </a>
            </li>
      <li class="nav-item">
        <a class="nav-link" href="../staff/manage_user.html">
          <i class="fa fa-folder"></i>
          <span>จัดการข้อมูลผู้ใช้</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../staff/manage_doctor.html">
          <i class="fa-solid fa-stethoscope"></i>
          <span>จัดการข้อมูลแพทย์</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../staff/patientslist.html">
          <i class="fa-solid fa-user-plus"></i>
          <span>ผู้ป่วยที่อยู่ในการดูแล</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../staff/manage_admin.html">
            <i class="fa fa-folder"></i>
            <span>จัดการเจ้าหน้าที่</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="../staff/manage_man.html">
          <i class="fa fa-folder"></i>
          <span>จัดการผู้บริหาร</span></a>
  </li>
     


      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <!-- <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div> -->
            <li class="nav-item">
              <a class="nav-link" href="#" onclick="openCustomModal()">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  <span>ออกจากระบบ</span>
              </a>
          </li>
    </ul>
    

    
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Search -->
          <h1 class="header-main">Dashboard</h1>

          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
            </li>



            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">

              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <span class="emp_fname mr-2 d-none d-lg-inline text-gray-600 small"></span>
                <span class="emp_lname mr-2 d-none d-lg-inline text-gray-600 small"></span>

                <!-- <img src="../../image/user.png" style="height: 50%; wigth: 50px;"> -->
              </a>


              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">

                <!-- <a class="dropdown-item" href="profile.html">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    ข้อมูลส่วนตัว
                                </a> -->
                <a class="dropdown-item" href="../staff/changepass.html">
                  <i class="fas fa-lock fa-sm fa-fw mr-2 text-gray-400"></i>
                  เปลี่ยนรหัสผ่าน
                </a>

              </div>
            </li>

            <!-- Make sure you load Bootstrap JS properly -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>


          </ul>


        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Summary Row -->
            <div class="row">
        
                <!-- Total Doctors Card -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                      <div class="card-body">
                        <div class="row no-gutters align-items-center">
                          <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1" style="font-size: 18px;">จำนวนแพทย์</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800" id="doctorCount">0</div>
                          </div>
                          <div class="col-auto">
                            <i class="fas fa-user-md fa-2x text-gray-300"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
        
                <!-- Total Patients Card -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1" style="font-size: 18px;">
                                        จำนวนผู้ใช้บริการ
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800" id="userCount">0</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-users fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
                <!-- Total Appointments Card -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-info shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1" style="font-size: 18px;">
                                        นัดหมายทั้งหมด
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800" id="appointmentCount">0</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-calendar-alt fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
                <!-- Confirmed Appointments Card -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-warning shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1" style="font-size: 18px;">
                                        นัดหมายที่ยืนยันแล้ว
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800" id="confirmedAppointmentCount">0</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-check-circle fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
                <!-- Closed Cases Card -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-secondary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1" style="font-size: 18px;">
                                        จำนวนที่ปิดเคสแล้ว
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800" id="closedCasesCount">0</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-folder fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
        
            </div>
        
            <!-- Charts Row -->
            <div class="row">
        
                <!-- Appointments Overview Area Chart -->
                <div class="col-xl-8 col-lg-7">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">ภาพรวมการนัดหมาย</h6>
                        </div>
                        <div class="card-body">
                            <div class="chart-area">
                                <canvas id="appointmentsOverviewChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
        
                <!-- Appointments Breakdown Pie Chart -->
                <div class="col-xl-4 col-lg-5">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">การแบ่งหมวดหมู่นัดหมาย</h6>
                        </div>
                        <div class="card-body">
                            <div class="chart-pie pt-4 pb-2">
                                <canvas id="appointmentsBreakdownChart"></canvas>
                            </div>
                            <div class="mt-4 text-center small">
                                <span class="mr-2">
                                    <i class="fas fa-circle text-primary"></i> ยืนยันแล้ว
                                </span>
                                <span class="mr-2">
                                    <i class="fas fa-circle text-danger"></i> ยกเลิก
                                </span>
                                <span class="mr-2">
                                    <i class="fas fa-circle text-warning"></i> รอการยืนยัน
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
        
            </div>
        
            <!-- Lists Row -->
            <div class="row">
        
                <!-- Doctor List -->
                <div class="col-lg-6 mb-4">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">รายชื่อแพทย์</h6>
                        </div>
                        <div class="card-body">
                            <ul>
                                <li>ดร. สมชาย สุขสม</li>
                                <li>ดร. สุนีย์ สร้างสุข</li>
                                <li>ดร. วิไล สุขเกษม</li>
                            </ul>
                        </div>
                    </div>
                </div>
        
            </div>
        
        </div>
        
        
        
 

        <!-- End of Main Content -->




      </div>
      <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

           <!-- Logout Modal-->
 <div id="logoutModal" class="custom-modal">
  <div class="custom-modal-dialog">
      <div class="custom-modal-content">
          <div class="custom-modal-header">
              <button class="custom-close" onclick="closeCustomModal()">&times;</button>
          </div>
          <div class="custom-modal-body">
              เลือก "ออกจากระบบ" ด้านล่างหากคุณพร้อมที่จะออกจากเว็บไซต์ปัจจุบันของคุณ
          </div>
          <div class="custom-modal-footer">
              <button class="custom-btn custom-btn-secondary" onclick="closeCustomModal()">ยกเลิก</button>
              <a class="custom-btn custom-btn-primary" href="../index.html" onclick="Logout()">ออกจากระบบ</a>
          </div>
      </div>
  </div>
</div>


<script>
  function openCustomModal() {
  document.getElementById('logoutModal').style.display = 'flex';
}

// ปิด Custom Modal
function closeCustomModal() {
  document.getElementById('logoutModal').style.display = 'none';
}</script>


    <!-- <script>
        const logout = async () => {
            try {
                await axios.post('http://localhost:8000/api/logout', {}, { withCredentials: true });
                alert('You have been logged out successfully.');
                window.location.href = '../view';
            } catch (error) {
                console.error('Logout failed:', error);
                alert('Logout failed. Please try again.');
            }
        };
    </script> -->

    <script src="../../js/jquery.min.js"></script>
    <!-- <script src="../../js/bootstrap.bundle.min.js"></script> -->


</body>

</html>