<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>คลินิกกำลังใจ</title>

    <!-- Custom fonts for this template-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery (จำเป็นสำหรับบางฟังก์ชันใน Bootstrap 4) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>


    <!-- Custom styles for this template-->
    <link href="../../style/users/user_main.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/staff/schedule.css">
    <!-- <script src="../../js/login.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.js"></script>
    

    <script src="../../js/staff.js"></script>
    <script src="../../js/api/staff_api.js"></script>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="user_main.html">
                <div class="sidebar-brand-text mx-3">คลินิกกำลังใจ</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <!-- <li class="nav-item">
                <a class="nav-link" href="index.html">
                    <i class="fa-regular fa-user"></i>
                    <span>ข้อมูลส่วนตัว</span></a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" href="../staff/manage_user.html">
                  <i class="fa fa-folder"></i>
                  <span>จัดการข้อมูลผู้ใช้</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../staff/manage_doctor.html">
                  <i class="fa-solid fa-stethoscope"></i>
                  <span>จัดการข้อมูลแพทย์</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../staff/patientslist.html">
                  <i class="fa-solid fa-user-plus"></i>
                  <span>ผู้ป่วยที่อยู่ในการดูแล</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../staff/manage_admin.html">
                    <i class="fa fa-folder"></i>
                    <span>จัดการผู้ดูแลระบบ</span></a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="index.html">
                    <i class="fa-solid fa-lock"></i>
                    <span>เปลี่ยนรหัสผ่าน</span></a>
            </li> -->


            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <!-- <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div> -->
            <li class="nav-item">
                <a class="nav-link" href="#" onclick="Logout()">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  <span>ออกจากระบบ</span>
                </a>
              </li>
        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <h1 class="header-main">จัดการข้อมูลแพทย์</h1>
                    <!-- <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>

                            </div>
                        </div>
                    </form> -->

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <!-- <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a> -->
                            <!-- Dropdown - Messages -->
                            <!-- <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div> -->
                        </li>

                        <!-- Nav Item - Alerts -->
                        <!-- <li class="nav-item dropdown no-arrow mx-1"> -->
                        <!-- <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                        <!-- <span class="badge badge-danger badge-counter">3+</span> -->
                        <!-- </a> -->

                        <!-- Dropdown - Alerts -->
                        <!-- <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Alerts Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 12, 2019</div>
                                        <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-success">
                                            <i class="fas fa-donate text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 7, 2019</div>
                                        $290.29 has been deposited into your account!
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-warning">
                                            <i class="fas fa-exclamation-triangle text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 2, 2019</div>
                                        Spending Alert: We've noticed unusually high spending for your account.
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                            </div>
                        </li> -->

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">

                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="emp_fname mr-2 d-none d-lg-inline text-gray-600 small"></span>
                                <span class="emp_lname mr-2 d-none d-lg-inline text-gray-600 small"></span>
                                <!-- <img src="../../image/user.png" style="height: 50%; wigth: 50px;"> -->
                            </a>


                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">

                                <!-- <a class="dropdown-item" href="profile.html">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    ข้อมูลส่วนตัว
                                </a> -->
                                <a class="dropdown-item" href="changepass.html">
                                    <i class="fas fa-lock fa-sm fa-fw mr-2 text-gray-400"></i>
                                    เปลี่ยนรหัสผ่าน
                                </a>

                            </div>
                        </li>

                        <!-- Make sure you load Bootstrap JS properly -->
                        <script
                            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>


                    </ul>


                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <div>
                        <header>
                            <h1>รายชื่อแพทย์</h1>
                            <div class="header-actions">
                                <div class="search-box">
                                    <input type="text" class="searchdoctor" placeholder="ค้นหา" >
                                  </div>
                                <button id ="addDoctorBtn">เพิ่มแพทย์</button>
                            </div>
                        </header>
                        <div >
                            <table>
                                <thead>
                                  <tr>
                                    <th>ID</th>
                                    <th>ชื่อแพทย์</th>
                                    <th>เบอร์โทรศัพท์</th>
                                    <th>เพิ่มเติม</th>
                                  </tr>
                                </thead>
                                <tbody id="doctorinTable">
                                  <!-- ข้อมูลจะถูกเพิ่มที่นี่ -->
                                  
                                </tbody>
                              </table>
                              
                        </div>
                        
                    
                    </div>
                    <!-- Display fname here -->
                </div>

                <!-- Popup Modal -->
                <div id="addDoctorModal" class="modal">
                    <div class="modal-content">
                      <div>
                        <span class="close">&times;</span>
                      </div>
                  
                      <form id="addDoctorForm">
                        <label for="doctorID">รหัสประจำตัว</label>
                        <input type="text" id="doctorID" />
                  
                        <label for="doctorName">ชื่อแพทย์</label>
                        <input type="text" id="doctorName" pattern="^[a-zA-Zก-ฮะ-์]+$" title="กรุณากรอกตัวอักษรเท่านั้น" />
                  
                        <label for="phoneNumber">เบอร์โทรศัพท์</label>
                        <input type="text" id="phoneNumber" pattern="^[a-zA-Zก-ฮะ-์]+$" title="กรุณากรอกตัวอักษรเท่านั้น" />
                  
                        <!-- ปิดรหัสผ่านไว้ก่อน -->
                        <!-- 
                        <label for="password">รหัสผ่าน</label>
                        <input type="password" id="password" />
                  
                        <label for="confirmPassword">ยืนยันรหัสผ่าน</label>
                        <input type="password" id="confirmPassword" />
                        -->
                  
                        <button type="submit">Save</button>
                      </form>
                    </div>
                  </div>
                  

                <!-- edit Modal -->
                <div id="editModal" class="modal">
                    <div class="modal-content">
                    <div>
                        <span class="close">&times;</span>     
                     </div>
                                             
                        <form class="addDoctorForm">
                            <label for="doctorName">ชื่อแพทย์</label>
                            <input type="text" class="doctorName" pattern="^[a-zA-Zก-ฮะ-์]+$" title="กรุณากรอกตัวอักษรเท่านั้น" />

                            <label for="phoneNumber">เบอร์โทรศัพท์</label>
                            <input type="text" class="phoneNumber"/>

                            <label for="email">รหัสประจำตัว</label>
                            <input type="email" class="email"/>

                            <!-- <label for="password">รหัสผ่าน</label>
                            <input type="password" class="password"/>
                            
                            <label for="password">ยืนยันรหัสผ่าน</label>
                            <input type="confirm-password" class="confirm-password"/> -->

                            <button type="submit">Save</button>
                        </form>
                    </div>
                </div>

                <!-- /.container-fluid -->

            </div>

            <!-- End of Main Content -->




        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

<!-- Delete Modal -->
<div class="delete-popup">
    <div class="delete-content">
        <div class="delete-header">
            <h5 class="delete-title">ยืนยันการลบ</h5>
            <button class="close-delete-btn">&times;</button>
        </div>
        <div class="delete-body">
            <p>คุณแน่ใจหรือไม่ว่าต้องการลบข้อมูลนี้ การกระทำนี้ไม่สามารถย้อนกลับได้</p>
        </div>
        <div class="delete-footer">
            <!-- <button class="btn cancel-btn close-delete-btn">ยกเลิก</button> -->
            <a class="btn delete-btn" href="">ลบ</a>
        </div>
    </div>
</div>

    <!-- <script>
        const logout = async () => {
            try {
                await axios.post('http://localhost:8000/api/logout', {}, { withCredentials: true });
                alert('You have been logged out successfully.');
                window.location.href = '../view';
            } catch (error) {
                console.error('Logout failed:', error);
                alert('Logout failed. Please try again.');
            }
        };
    </script> -->

    <script src="../../js/jquery.min.js"></script>
    <!-- <script src="../../js/bootstrap.bundle.min.js"></script> -->


</body>

</html>