.chart-container {
    width: 100%;
    height: 400px; /* ปรับให้กราฟสูงขึ้น */
}
select {
    width: auto; /* ปรับให้กว้างตามข้อความ */
    min-width: 100px; 
    max-width: 90%; 
  }

.select-container select {
    margin-right: 12px; 
    padding-left: 15px;
    padding-right: 15px;
}

.print-btn {
    justify-content: center;
    align-items: center;
}
