<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../../style/users/user_test.css">
    <script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
    <script src="../../js/user.js"></script>
</head>
<body>
  <div class="progress-container">
    <div class="progress" ></div>
  </div>

    <div class="container">

      <!-- <div class="main">
        <img src="../../image/1_1.png" alt="logo">
        <h1>มาทำความเข้าใจความรู้สึกตัวเองกันเถอะ</h1>
        <p>ทุกปัญหามีทางออก</p>
        <div class="btn">
            <button id="startButton" type="button">เริ่มสำรวจความรู้สึกของคุณ</button>
        </div>
    </div> -->

        <div class="question1">
          <h1>เบื่อ ไม่สนใจอยากทำอะไร
          </h1>
          <div class="choice-container" data-score="0">
            <p class="choice-text" data-number= 0>ไม่มีเลย</p>
          </div>
          <div class="choice-container" data-score="1">
            <p class="choice-text" data-number= 1>เป็นบางวัน 1-7 วัน</p>
          </div>
          <div class="choice-container" data-score="2">
            <p class="choice-text" data-number= 2>เป็นบ่อยมากกว่า 7 วัน</p>
          </div>
          <div class="choice-container" data-score="3">
            <p class="choice-text" data-number= 3>เป็นทุกวัน</p>
          </div>
          <button id="button1" class="button" type="button">ต่อไป</button>
        </div>
        

        <div class="question2">
          <h1>ไม่สบายใจ ซึมเศร้า ท้อแท้</h1>
          <div class="choice-container" data-score="0">
            <p class="choice-text" data-number= 0>ไม่มีเลย</p>
          </div>
          <div class="choice-container" data-score="1">
            <p class="choice-text" data-number= 1>เป็นบางวัน 1-7 วัน</p>
          </div>
          <div class="choice-container" data-score="2">
            <p class="choice-text" data-number= 2>เป็นบ่อยมากกว่า 7 วัน</p>
          </div>
          <div class="choice-container" data-score="3">
            <p class="choice-text" data-number= 3>เป็นทุกวัน</p>
          </div>
          <button class="button" type="button">ต่อไป</button>
        </div>

        <div class="question3">
          <h1>หลับยาก หรือหลับๆตื่นๆ หรือหลับมากไป</h1>
          <div class="choice-container" data-score="0">
            <p class="choice-text" data-number= 0>ไม่มีเลย</p>
          </div>
          <div class="choice-container" data-score="1">
            <p class="choice-text" data-number= 1>เป็นบางวัน 1-7 วัน</p>
          </div>
          <div class="choice-container" data-score="2">
            <p class="choice-text" data-number= 2>เป็นบ่อยมากกว่า 7 วัน</p>
          </div>
          <div class="choice-container" data-score="3">
            <p class="choice-text" data-number= 3>เป็นทุกวัน</p>
          </div>
          <button class="button" type="button">ต่อไป</button>
        </div>

        <div class="question4">
          <h1>เหนื่อยง่ายหรือไม่ค่อยมีแรง</h1>
          <div class="choice-container" data-score="0">
            <p class="choice-text" data-number= 0>ไม่มีเลย</p>
          </div>
          <div class="choice-container" data-score="1">
            <p class="choice-text" data-number= 1>เป็นบางวัน 1-7 วัน</p>
          </div>
          <div class="choice-container" data-score="2">
            <p class="choice-text" data-number= 2>เป็นบ่อยมากกว่า 7 วัน</p>
          </div>
          <div class="choice-container" data-score="3">
            <p class="choice-text" data-number= 3>เป็นทุกวัน</p>
          </div>
          <button class="button" type="button">ต่อไป</button>
        </div>

        <div class="question5">
          <h1>เบื่ออาหาร หรือกินมากเกินไป</h1>
          <div class="choice-container" data-score="0">
            <p class="choice-text" data-number= 0>ไม่มีเลย</p>
          </div>
          <div class="choice-container" data-score="1">
            <p class="choice-text" data-number= 1>เป็นบางวัน 1-7 วัน</p>
          </div>
          <div class="choice-container" data-score="2">
            <p class="choice-text" data-number= 2>เป็นบ่อยมากกว่า 7 วัน</p>
          </div>
          <div class="choice-container" data-score="3">
            <p class="choice-text" data-number= 3>เป็นทุกวัน</p>
          </div>
          <button class="button" type="button">ต่อไป</button>
        </div>

        <div class="question6">
          <h1>รู้สึกไม่ดีกับตัวเอง คิดว่าตัวเองล้มเหลว หรือทำให้ตัวเอง หรือครอบครัวผิดหวัง</h1>
          <div class="choice-container" data-score="0">
            <p class="choice-text" data-number= 0>ไม่มีเลย</p>
          </div>
          <div class="choice-container" data-score="1">
            <p class="choice-text" data-number= 1>เป็นบางวัน 1-7 วัน</p>
          </div>
          <div class="choice-container" data-score="2">
            <p class="choice-text" data-number= 2>เป็นบ่อยมากกว่า 7 วัน</p>
          </div>
          <div class="choice-container" data-score="3">
            <p class="choice-text" data-number= 3>เป็นทุกวัน</p>
          </div>
          <button class="button" type="button">ต่อไป</button>
        </div>

        <div class="question7">
          <h1>สมาธิไม่ดีเวลาทำอะไร เช่น การทำงานที่ต้องใช้ความตั้งใจ</h1>
          <div class="choice-container" data-score="0">
            <p class="choice-text" data-number= 0>ไม่มีเลย</p>
          </div>
          <div class="choice-container" data-score="1">
            <p class="choice-text" data-number= 1>เป็นบางวัน 1-7 วัน</p>
          </div>
          <div class="choice-container" data-score="2">
            <p class="choice-text" data-number= 2>เป็นบ่อยมากกว่า 7 วัน</p>
          </div>
          <div class="choice-container" data-score="3">
            <p class="choice-text" data-number= 3>เป็นทุกวัน</p>
          </div>
          <button class="button" type="button">ต่อไป</button>
        </div>

        <div class="question8">
          <h1>พูดช้า ทำอะไรช้าจนคนอื่นสั่งเกตุเห็นไดหรือกระสับกระส่ายไม่สามารถอยู่นิ่งได้เหมือนที่เคยเป็น</h1>
          <div class="choice-container" data-score="0">
            <p class="choice-text" data-number= 0>ไม่มีเลย</p>
          </div>
          <div class="choice-container" data-score="1">
            <p class="choice-text" data-number= 1>เป็นบางวัน 1-7 วัน</p>
          </div>
          <div class="choice-container" data-score="2">
            <p class="choice-text" data-number= 2>เป็นบ่อยมากกว่า 7 วัน</p>
          </div>
          <div class="choice-container" data-score="3">
            <p class="choice-text" data-number= 3>เป็นทุกวัน</p>
          </div>
          <button class="button" type="button">ต่อไป</button>
        </div>

        <div class="question9">
          <h1>คิดร้ายกับตัวเอง หรือคิดว่าตายไปคงดี</h1>
          <div class="choice-container" data-score="0">
            <p class="choice-text" data-number= 0>ไม่มีเลย</p>
          </div>
          <div class="choice-container" data-score="1">
            <p class="choice-text" data-number=1>เป็นบางวัน 1-7 วัน</p>
          </div>
          <div class="choice-container" data-score="2">
            <p class="choice-text" data-number=2>เป็นบ่อยมากกว่า 7 วัน</p>
          </div>
          <div class="choice-container" data-score="3">
            <p class="choice-text" data-number=3>เป็นทุกวัน</p>
          </div>
          <button class="button" type="button">ต่อไป</button>

          <!-- <span id="totalScoreDisplay"></span> -->
        </div>

      </div>
</body>
</html>